# IntelliJ project files
.idea
*.iml
out
gen

### Vim template
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### IPythonNotebook template
# Temporary data
.ipynb_checkpoints/

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.ipynb
*.params
*.json
.vscode/
.DS_Store
Images/.DS_Store
Images/1_Big_Data_Essentials/.DS_Store
Images/1_Big_Data_Essentials/Week_2/.DS_Store
Images/1_Big_Data_Essentials/Week_2/cache_1.png
Images/1_Big_Data_Essentials/Week_2/cache_2.png
Images/1_Big_Data_Essentials/Week_2/cache_3.png
Images/1_Big_Data_Essentials/Week_2/cache_4.png
Images/1_Big_Data_Essentials/Week_2/cache_5.png
Images/1_Big_Data_Essentials/Week_2/cache_6.png
Images/1_Big_Data_Essentials/Week_2/cache_7.png
Images/1_Big_Data_Essentials/Week_2/cache_8.png
Images/1_Big_Data_Essentials/Week_2/cache_9.png
Images/1_Big_Data_Essentials/Week_2/pystream_1.png
Images/1_Big_Data_Essentials/Week_2/pystream_2.png
Images/1_Big_Data_Essentials/Week_2/pystream_3.png
Images/1_Big_Data_Essentials/Week_2/pystream_4.png
Images/1_Big_Data_Essentials/Week_2/pystream_5.png
Images/1_Big_Data_Essentials/Week_2/pystream_6.png
Images/1_Big_Data_Essentials/Week_2/pystream_7.png
Images/1_Big_Data_Essentials/Week_2/pystream_8.png
Images/1_Big_Data_Essentials/Week_2/word_count_1.png
Images/1_Big_Data_Essentials/Week_2/word_count_10.png
Images/1_Big_Data_Essentials/Week_2/word_count_11.png
Images/1_Big_Data_Essentials/Week_2/word_count_12.png
Images/1_Big_Data_Essentials/Week_2/word_count_13.png
Images/1_Big_Data_Essentials/Week_2/word_count_14.png
Images/1_Big_Data_Essentials/Week_2/word_count_2.png
Images/1_Big_Data_Essentials/Week_2/word_count_3.png
Images/1_Big_Data_Essentials/Week_2/word_count_4.png
Images/1_Big_Data_Essentials/Week_2/word_count_5.png
Images/1_Big_Data_Essentials/Week_2/word_count_6.png
Images/1_Big_Data_Essentials/Week_2/word_count_7.png
Images/1_Big_Data_Essentials/Week_2/word_count_8.png
Images/1_Big_Data_Essentials/Week_2/word_count_9.png
